@font-face {
  font-family: 'Circular-Std';
  src: url('fonts/CircularStd-Medium.woff2') format('woff2'),
  url('fonts/CircularStd-Medium.eot') format('embedded-opentype'),
  url('fonts/CircularStd-Medium.woff') format('woff'),
  url('fonts/CircularStd-Medium.ttf') format('truetype'),
  url('fonts/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Circular-Std';
  src: url('fonts/CircularStd-Book.woff2') format('woff2'),
  url('fonts/CircularStd-Book.eot') format('embedded-opentype'),
  url('fonts/CircularStd-Book.woff') format('woff'),
  url('fonts/CircularStd-Book.ttf') format('truetype'),
  url('fonts/CircularStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

body {
  font-family: Circular-Std, sans-serif;
}
.page {
  position: relative;
  overflow: hidden;
}
h1,
.h1 {
  font-size: 4.5rem;
  font-weight: 800;
}

h2 {
  font-weight: 800;
  font-size: 2.9rem;
}

h5 {
  font-weight: 500;
}

/*== start: header ==*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1;
  /* border-bottom: 1px solid rgb(172, 223, 206); */
  transition: all 0.4s;
  transform: translate3d(0px, -100px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;
}
header.fixed{
  transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  /* box-shadow: 0 0 4px #365779; */
}
header.static{
  transform: translate3d(0px, 0, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
header .btn {
  border-radius: 20px;
  padding: 5px 25px;
}

.header,
.banner {
  position: relative;
}

@media (max-width: 991px) {
  header .btn {
    display: none;
  }
  .navbar-nav {
    padding-top: 10px;
  }
  .navbar-nav .nav-item {
    border-top: 1px solid #eee;
  }
}
/*== end: header ==*/

/*== start: banner ==*/
.banner {
  padding: 0;
  font-size: 24px;
}

.banner img{width: 500px;}

.banner-container {
  background: url(../images/Header-Bg-Image_01.png) no-repeat center center;
  background-size: 100% 100%;
  background-color: #54c5c1;
}

.banner:before {
  content: "";
  display: block;
  width: 120%;
  height: 240px;
  margin-top: 75px;
  background-color: #54c5c1;
  border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
  margin-left: -10%;
}
.banner:after {
  content: "";
  display: block;
  width: 120%;
  height: 240px;
  margin-top: -90px;
  background-color: #54c5c1;
  border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
  margin-left: -10%;
  z-index: -1;
  position: relative;
}
.banner .container {
  margin-top: -170px;
}

.banner h1 {
  margin: 0 0 20px 0;
  line-height: 1;
  max-width: 550px;
}
.banner p {
  max-width: 500px;
  margin: 0 0 25px 0;
  font-size: 1.25rem;
}
.app-btns .btn {
  text-align: left;
  padding: 7px 15px;
  display: flex;
  float: left;
  min-width: 200px;
  margin-right: 10px;
}
.app-btns .btn i {
  float: left;
  font-size: 28px;
}
.app-btns .btn i.fa-google-play {
  font-size: 24px;
}
.app-btns .btn > span {
  display: block;
  margin-left: 15px;
  white-space: nowrap;
  line-height: 1;
}
.app-btns .btn span:first-child {
  display: block;
  font-size: 12px;
}
.app-btns .btn span span:last-child {
  display: block;
  font-size: 20px;
  letter-spacing: 0.14rem;
  font-weight: lighter;
}

@media (max-width: 1199px) {
  .banner {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .banner {
    font-size: 15px;
  }
  .banner .btn {
    padding: 5px 10px;
    min-width: 150px;
  }
  .banner .btn > span {
    margin-left: 10px;
  }
  .banner .btn span:first-child {
    font-size: 10px;
  }
  .banner .btn span span:last-child {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .banner {
    font-size: 12px;
  }
  .banner .btn i {
    font-size: 20px;
  }
  .banner .btn i.fa-google-play {
    font-size: 16px;
  }
  .banner .btn span span:last-child {
    letter-spacing: 0.02rem;
  }
  .banner .btn > span {
    margin-left: 5px;
  }
  .banner .btn {
    min-width: 110px;
  }
  .banner .btn span:first-child {
    font-size: 8px;
  }
  .banner .btn {
    margin-right: 5px;
  }
}
@media (max-width: 575px) {
  .order-last,
  .order-first {
    order: unset !important;
  }
}

/*== end: banner ==*/

.challenge {
  padding: 50px 0;
}

.challenge i {
  font-size: 48px;
  color: #049509;
  margin-bottom: 10px;
}

.challenge .card {
  border: none;
  margin: 20px 0;
  padding: 10px 0;
  /* cursor: pointer; */
  background: transparent;
  transition: all 0.3s;
  border-radius: 5px;
}
.challenge .card *{
  transition: all 0.3s;
}
.challenge .card:hover{
  /* transform: scale(1.2); */
  /* box-shadow: 0 0 30px #00254d; */
  /* background-color: #f1f5fa; */
  /* transform:rotate(360deg); */
}

.challenge .card:hover i{
  color: #00254d;
  /* transform:rotate(360deg); */
  /* font-size: 80px; */
}
.challenge .card:hover h3{
  color: #049509;
}
.challenge .card:hover .btn{
  background-color: #00254d;
  border-color: #00254d;
}

.dummy-img {
  background: rgb(123, 238, 171);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.navbar-brand {
  margin-right: 1.7rem;
}
.navbar-light .navbar-nav .nav-link {
  color: #00254d;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .navbar-nav li {
    margin: 0 15px;
  }
}

/*== start: work-with-us ==*/
.work-with-us {
  /* background: #333; */
  padding: 70px 0;
  color: #fff;
}

.work-with-us h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.work-with-us p {
  letter-spacing: 0.17rem;
  font-weight: normal;
  margin: 0;
}

.work-with-us a {
  color: #fff;
}

/*== end: work-with-us ==*/

/*== start: footer ==*/
.footer {
  padding: 10px 0;
  font-size: 0.9rem;
  background: #f0f0f0;
}
/*== end: footer ==*/

.navbar-brand {
  padding: 0;
  margin-right: 50px;
}
.navbar-brand img {
  width: 160px;
}

.flMcpy::before {
  background: radial-gradient(
    53.8% 74.52% at 69.44% 0%,
    rgb(203, 248, 233) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 500px;
  overflow: hidden;
  position: absolute;
  right: -80%;
  top: 0;
  width: 266.67%;
}
.fvoIlz::after {
  background: radial-gradient(
    53.8% 74.52% at 69.44% 0%,
    rgb(203, 248, 233) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  bottom: 0px;
  content: "";
  height: 35%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  transform: rotate(180deg);
  width: 80%;
  z-index: 1;
}

.btn {
  border-radius: 25px;
  padding: 10px 35px;
}

/* .challenge .col-4 {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.challenge .col-4:first-child {
  border: none;
}

.challenge .col-4:nth-child(2),
.challenge .col-4:nth-child(3) {
  border-top: none;
}
.challenge .col-4:nth-child(4) {
  border-left: none;
} */

.work-with-us2.bg-success {
  color: #fff;
}
.work-with-us2 h3 {
  /* color: #049509; */
}
.work-with-us2.bg-success h3 {
  color: #fff;
}
.work-with-us2.bg-success {
  border: none;
}
.work-with-us2 .box {
  display: flex;
}

.work-with-us2 img {
  width: 200px;
}
.work-with-us2 {
  padding: 40px 0 110px 0;
  border-top: 5px solid #049509;
  border-bottom: 5px solid #049509;
  background: #f2fdf2;
}
.work-with-us2 .box div {
  /* border-left: 1px solid #ccc;
  padding-left: 20px; */
  /* padding-top: 20px; */
}

.work-with-us2 h3 {
  font-size: 40px;
  /* text-transform: uppercase; */
  font-weight: bold;
  margin: 0 0 15px 0;
}

.work-with-us2 p {
  letter-spacing: 0.14rem;
  font-weight: normal;
  margin: 0;
}

.work-with-us2.bg-success a {
  color: #fff;
}

.work-with-us2 a {
  color: #049509;
}

aside.clients {
  border-top: 1px solid #ccc;
}
aside.clients img {
  margin: 50px auto;
}

.footer .nav-link {
  color: #333;
}

.about-section {
  padding: 80px 0;
  line-height: 1.8;
  /* background: #f2fdf2; */
}

.about-section h6 {
  line-height: 1.2;
  color: #049509;
  margin: 0;
}
.about-section h2 {
  line-height: 1.2;
  margin: 0;
}
.about-section h3 {
  line-height: 1.2;
  margin: 0 0 25px 0;
}

/* .contact-section {
  position: relative;
}
.contact-section:before {
  background: #0b4d0f;
  height: 500px;
  content: "";
  display: block;
}
.contact-section .container {
  padding: 0 0 80px 0;
  margin-top: -420px;
} */

.contact-section .row {
  /* padding-top: 25px; */
}
/* 
.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #edf0ed;
  background: #edf0ed;
  margin-bottom: 15px;
  outline: none;
}

.contact-section textarea {
  height: 150px;
  resize: none;
} */
/* .contact-section h2,
.contact-section p {
  color: #fff;
}
.contact-section h4 {
  margin: 0 0 20px 0;
} */

.our-team {
  padding: 80px 0;
  font-size: 12px;
  /* background: #f2fdf2; */
}
.our-team h2 {
  margin: 0 0 35px 0;
}
.our-team .team-img {
  max-width: 250px;
  /* border-radius: 30% 0; */
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}
.our-team .team-img img{max-width: 100%; transform: scale(1); transition: all 0.3s; filter: grayscale(100%);}
.our-team .team-box{display: inline-block;}
.our-team .team-box:hover img{transform: scale(1.2);}
.our-team img
.our-team h4 {
  font-size: 20px;
  font-weight: bold;
}
.our-team p {
  margin: 0 0 10px 0;
  color: #049509;
}
.nav.social-icons {
  font-size: 18px;
}
.nav.social-icons li {
  margin: 0 4px;
}
.nav.social-icons a {
  background: #fff;
  border: 1px solid #333;
  width: 35px;
  height: 35px;
  display: block;
  line-height: 35px;
  border-radius: 20px;
  color: #333;
  text-align: center;
}

.nav.social-icons a:hover {
  background: #333;
  color: #fff;
}

.most-paper {
  padding: 80px 0;
  line-height: 1.8;
}
.most-paper img {
  max-width: 100%;
}

.most-paper h2 {
  margin: 0 0 35px 0;
}

/* .contact-form-section {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 800px;
  margin: 70px auto 0 auto;
  box-shadow: 0 0 15px #ccc;
}

.contact-form-section img {
  max-width: 100%;
} */

.footer-top {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.footer-top img {
  max-width: 220px;
}
.footer-top .app-btns {
  float: right;
}
.footer-top .app-btns .btn {
  margin: 4px 0;
  float: none;
}
.footer-right {
  float: right;
}
.footer-right .nav {
  float: left;
}

.footer-bottom {
  padding: 10px 0 0 0;
  font-size: 13px;
  border-top: 1px solid #1a4b80;
  margin-top: 10px;
}

.footer-new {
  color: #fff;
}

.footer-new-container {
  background-color: #00254d;
  margin-top: -150px;
  padding-bottom: 50px;
}

.footer-new:before {
  content: "";
  display: block;
  width: 120%;
  height: 240px;
  margin-top: -75px;
  background-color: #00254d;
  border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
  margin-left: -10%;
}

.footer-new h5 {
  color: #54c5c1;
  font-weight: normal;
}
.footer-new a {
  color: #fff;
}

.footer-new a {
  padding: 5px 0;
}

.footer-new a:hover {
  color: #fff;
}

.footer-new .app-btns {
  float: right;
}
.footer-new .app-btns .btn {
  margin: 7px 0;
  float: none;
}

.footer-new .app-btns .btn:last-child {
  background-color: #fff;
  color: #333;
}

.download-btns img{margin: 5px 0;}
.btn-primary{background-color: #0459b4; border-color: #0459b4;}
h1{color: #00254d; font-size: 3.75rem; font-weight: 500;}
h2, h3, h4, h5{color: #00254d;}
/*== start: contact page ==*/
h2{font-weight: 500;}
.contact-page {
  padding: 0;
  /* font-size: 24px; */
}

.contact-section {
  background-color: #d0f3f2;
  padding: 40px 0 150px 0;
}

.contact-page:before {
  content: "";
  display: block;
  width: 120%;
  height: 240px;
  margin-top: 75px;
  background-color: #d0f3f2!important;
  border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
  margin-left: -10%;
}

.contact-page .contact-section {
  margin-top: -170px;
}

.contact-page img{max-width: 100%;}

.input-required{color: red;}
.our-solution .solution-container{background: #f2fdf2; margin-top: -140px; padding-bottom: 70px;}
.btn-success{background-color: #049509; border-color: #049509;}

.challenge.our-solution:before {
  content: "";
  display: block;
  width: 120%;
  height: 240px;
  background-color: #f2fdf2;
  border-radius: 37% 57% 54% 42% / 60% 60% 40% 40%;
  margin-left: -10%;
}

.challenge.our-solution i {
font-size: 90px;
margin-bottom: 30px;
}
.challenge.our-solution .card-body {
  padding: 0;
}

.challenge.icon-effect .card:hover{padding: 0 0 20px 0;}
.challenge.icon-effect .card:hover i{
  opacity: 0;
  /* font-size: 30px; */
}
.challenge.icon-effect i.hover {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -70px;
  font-size: 140px;
  z-index: -1;
  opacity: 0;
}
.challenge.icon-effect .card:hover i.hover{
  opacity: 0.2;
  color: #049509;
  /* font-size: 140px; */
}

.fixed-container{
  position: relative;
}
.card.fixed-box{
  position: fixed;
  top: 60px;
}
.card.abs-box{
  position: absolute;
  top: auto;
  bottom: 0;
}


.inner-banner{padding-top: 100px;}
.inner-banner .container{
  /* background: url(../images/logocopy2.svg) no-repeat; */
  /* background-size: 100% 100%; */
  position: relative;
}
.inner-banner-content{
  position: absolute;
  top: 0;
  padding: 140px 240px;
  /* text-align: center; */
  font-size: 1.25rem;
}

.footer-bottom{}